.card {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 30px 25px;
  width: 100%;
  min-height: 386px;
  height: 100%;
  background-color: $color-tangaroa;
  color: $color-alice-blue;
  box-sizing: border-box;

  a {
    display: block;
    cursor: pointer;
    user-select: none;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    color: $color-tangaroa;
    padding: 12px 46px;
    background-color: $color-alice-blue;
    text-align: center;

    &:hover,
    &:focus {
      outline: none;
      background-color: $color-sky-blue;
    }
  }
}

.card__text {
  max-height: 260px;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  h4 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 12px;
  }

  h5 {
    display: block;
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }

  span {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 13px;
    color: $color-very-pale-blue;
  }
}
