.catalogue__wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 65px 25px;

  @media (min-width: $vp-768) {
    padding: 100px 60px;
  }

  @media (min-width: $vp-1024) {
    padding: 95px 45px 120px 45px;
  }

  @media (min-width: $vp-1280) {
    padding: 95px 118px 120px 118px;
  }
}

.catalogue__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: $color-tangaroa;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;

  @media (min-width: $vp-768) {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 60px;
  }

  @media (min-width: $vp-1024) {
    font-size: 28px;
    line-height: 42px;
  }
}

.catalogue__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $vp-1024) {
    gap: 15px;
  }

  @media (min-width: $vp-1280) {
    gap: 30px;
  }
}

.catalogue__item {
  cursor: pointer;

  &:hover > .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
  }

  &:hover > .catalogue__item-photo {
    display: none;
  }
}

.catalogue__item-photo {
  position: relative;
  min-width: 270px;
  min-height: 386px;
  box-sizing: border-box;
  background-size: cover;

  @media (min-width: $vp-768) {
    min-width: 309px;
  }

  @media (min-width: $vp-1024) {
    min-width: 260px;
    background-size: contain;
  }

  &--1 {
    background-image: url("../img/catalogue-1.jpg");
  }
  &--2 {
    background-image: url("../img/catalogue-2.jpg");
  }
  &--3 {
    background-image: url("../img/catalogue-3.jpg");
  }
  &--4 {
    background-image: url("../img/catalogue-4.jpg");
  }
  &--5 {
    background-image: url("../img/catalogue-5.jpg");
  }
  &--6 {
    background-image: url("../img/catalogue-6.jpg");
  }
  &--7 {
    background-image: url("../img/catalogue-7.jpg");
  }
  &--8 {
    background-image: url("../img/catalogue-8.jpg");
  }
}

.catalogue__item-photo-title {
  position: absolute;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $color-alice-blue;
  margin-top: auto;
  margin-bottom: 0;
  left: 30px;
  bottom: 30px;
}
