.catalogue__wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 55px 25px 65px 25px;
  background-color: $color-alice-blue;

  @media (min-width: $vp-768) {
    padding: 90px 60px 100px 60px;
  }

  @media (min-width: $vp-1024) {
    padding: 85px 45px 120px 45px;
  }

  @media (min-width: $vp-1280) {
    padding: 85px 118px 120px 118px;
  }
}

.catalogue__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: $color-tangaroa;
  text-align: center;
  margin-top: 0;
  margin-bottom: 32px;

  @media (min-width: $vp-768) {
    font-size: 26px;
    line-height: 39px;
    margin-bottom: 48px;
  }

  @media (min-width: $vp-1024) {
    font-size: 28px;
    line-height: 42px;
  }
}

.catalogue__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $vp-1024) {
    gap: 15px;
  }

  @media (min-width: $vp-1280) {
    gap: 30px;
  }
}

.catalogue__item {
  position: relative;

  &:hover > .card,
  &:focus > .card {
    opacity: 1;
    transition: 1s;
  }

  &:hover > .catalogue__item-photo,
  &:focus > .catalogue__item-photo {
    opacity: 0;
  }
}

.catalogue__item-photo {
  min-width: 270px;
  box-sizing: border-box;
  opacity: 1;

  img {
    height: 386px;
  }

  @media (min-width: $vp-768) {
    min-width: 309px;
  }

  @media (min-width: $vp-1024) {
    min-width: 260px;
  }
}

.catalogue__item-photo-title {
  position: absolute;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $color-alice-blue;
  margin-top: auto;
  margin-bottom: 0;
  left: 24px;
  bottom: 15px;

  @media (min-width: $vp-768) {
    left: 35px;
    bottom: 25px;
  }

  @media (min-width: $vp-1024) {
    left: 30px;
    bottom: 22px;
  }
}

.catalogue__illustration {
  img {
    display: block;
    width: 100%;
  }
}
