.header {
  background-image: url("../img/header-background-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $color-tangaroa;

  @media (min-width: $vp-768) {
    background-image: url("../img/header-background-tablet.jpg");
  }

  @media (min-width: $vp-1024) {
    background-image: url("../img/header-background-desktop.jpg");
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.header__wrapper {
  max-width: 1366px;
  margin: 0 auto;
}

.header__navigation-list {
  position: absolute;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 15px;

  @media (min-width: $vp-768) {
    padding: 28px 45px;
  }

  @media (min-width: $vp-1024) {
    padding: 35px 103px;
  }
}

.header__logo {
  cursor: pointer;

  &:hover,
  &:focus {
    svg {
      fill: $color-sky-blue;
    }
  }

  svg {
    fill: $color-alice-blue;
    width: 42px;
    height: 22px;

    @media (min-width: $vp-768) {
      width: 38px;
      height: 20px;
    }

    @media (min-width: $vp-1024) {
      width: 70px;
      height: 38px;
    }
  }
}

.header__navigation-links {
  display: none;
  user-select: none;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    max-width: 80%;
  }

  @media (min-width: $vp-1024) {
    margin-top: 7px;
    gap: 33px;
  }
}

.header__navigation-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: $color-alice-blue;

  @media (min-width: $vp-1024) {
    font-size: 16px;
  }

  &:hover,
  &:focus {
    color: $color-sky-blue;
  }
}

.header__navigation-toggle {
  position: absolute;
  top: 22px;
  right: 16px;
  cursor: pointer;
  z-index: 10;
  border: 0;
  background-color: transparent;
  background-image: url("../img/svg/menu-toggle.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 24px;
  height: 16px;

  &:hover {
    background-image: url("../img/svg/menu-toggle-hover-focus.svg");
  }

  @media (min-width: $vp-768) {
    display: none;
  }
}

@media (max-width: $vp-767) {
  .is-closed .nojs {
    display: none;
  }

  .is-closed .header__navigation {
    display: none;
  }

  .is-opened {
    .header__navigation-list {
      flex-direction: column;
      justify-content: flex-start;
      gap: 35px;
      padding: 20px 15px;
      position: absolute;
      z-index: 6;
      background-color: $color-alice-blue;
      top: 0;
      right: 0;
      width: 89%;
      height: 100%;
      max-height: 100vh;
      overflow-y: scroll;
    }

    .header__logo {
      svg {
        fill: $color-tangaroa;

        &:focus,
        &:active {
          fill: $color-sky-blue;
        }
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -15%;
      z-index: 2;
      background-color: rgba(0, 43, 102, 0.5);
      width: 115%;
      height: 100%;
    }
  }

  .is-opened .header__navigation-links {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding-left: 10px;

    .header__navigation-link {
      color: $color-tangaroa;
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;

      &:focus,
      &:active {
        color: $color-sky-blue;
      }
    }
  }

  .is-opened .header__navigation-toggle {
    background-image: url("../img/svg/cross.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 13px;
    height: 13px;

    &:focus,
    &:active {
      background-image: url("../img/svg/cross-hover-focus.svg");
    }
  }

  .nojs .header__navigation {
    display: block;
  }

  .nojs .header__navigation-toggle {
    display: none;
  }
}

/*Hero*/

.header__hero {
  padding: 175px 15px 180px 15px;

  @media (min-width: $vp-768) {
    padding: 270px 45px 274px 45px;
  }

  @media (min-width: $vp-1024) {
    padding: 270px 100px 280px 100px;
  }

  @media (min-width: $vp-1280) {
    padding: 270px 200px 280px 200px;
  }
}

.header__hero-title {
  font-size: 36px;
  line-height: 45px;
  font-weight: 700;
  color: $color-alice-blue;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 0;
  margin-bottom: 12px;

  @media (min-width: $vp-768) {
    font-size: 50px;
    line-height: 61px;
  }

  @media (min-width: $vp-1024) {
    font-size: 54px;
    line-height: 66px;
  }
}

.header__hero-description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $color-alice-blue;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;

  @media (min-width: $vp-768) {
    font-size: 18px;
  }

  @media (min-width: $vp-1024) {
    font-size: 20px;
    line-height: 24px;
  }
}

.header__hyphenation {
  @media (min-width: $vp-768) {
    display: none;
  }
}
