.header {
  background-image: url("../img/header-background-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $color-tangaroa;

  @media (min-width: $vp-768) {
    background-image: url("../img/header-background-tablet.jpg");
  }

  @media (min-width: $vp-1024) {
    background-image: url("../img/header-background-desktop.jpg");
  }
}

.header__wrapper {
  max-width: 1366px;
  margin: 0 auto;
}

.header__navigation-list {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 25px 15px;

  @media (min-width: $vp-768) {
    padding: 35px 45px;
  }

  @media (min-width: $vp-1024) {
    padding: 48px 103px;
  }
}

.header__logo {
  cursor: pointer;

  svg {
    fill: $color-alice-blue;
    width: 42px;
    height: 22px;

    @media (min-width: $vp-768) {
      width: 38px;
      height: 20px;
    }

    @media (min-width: $vp-1024) {
      width: 70px;
      height: 38px;
    }
  }
}

.header__navigation-links {
  display: none;

  @media (min-width: $vp-768) {
    display: flex;
    gap: 23px;
  }

  @media (min-width: $vp-1024) {
    gap: 33px;
  }
}

.header__navigation-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: $color-alice-blue;

  @media (min-width: $vp-1024) {
    font-size: 16px;
  }
}

.header__navigation-toggle {
  position: absolute;
  top: 25px;
  right: 15px;
  cursor: pointer;
  z-index: 10;
  border: 0;
  background-color: transparent;
  background-image: url("../img/svg/menu-toggle.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 24px;
  height: 16px;

  @media (min-width: $vp-768) {
    display: none;
  }
}

@media (max-width: $vp-767) {
  .header__navigation {
    &--closed .header__navigation--nojs {
      display: none;
    }

    &--closed .header__navigation {
      display: none;
    }

    &--opened  {
      .header__navigation-list {
        flex-direction: column;
        justify-content: flex-start;
        gap: 45px;
        padding: 20px 15px;
        position: absolute;
        z-index: 6;
        background-color: $color-alice-blue;
        top: 0;
        right: 0;
        width: 90%;
        height: 100%;
      }

      .header__logo {
        svg {
          fill: $color-tangaroa;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -15%;
        z-index: 2;
        background-color: rgba(0, 43, 102, 0.5);
        width: 115%;
        height: 100%;
      }
    }

    &--opened .header__navigation-toggle {
      background-image: url("../img/svg/cross.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 13px;
      height: 13px;
    }

    &--opened .header__navigation-links{
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding-left: 10px;

      .header__navigation-link {
        color: $color-tangaroa;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
      }
    }
  }

  .header__navigation--nojs .header__navigation {
    display: block;
  }

  .header__navigation--nojs .header__navigation-toggle {
    display: none;
  }
}

/*Hero*/

.header__hero {
  padding: 185px 15px 185px 15px;

  @media (min-width: $vp-768) {
    padding: 280px 45px 280px 45px;
  }

  @media (min-width: $vp-1024) {
    padding: 283px 100px 285px 100px;
  }

  @media (min-width: $vp-1280) {
    padding: 283px 200px 285px 200px;
  }
}

.header__hero-title {
  font-size: 36px;
  line-height: 45px;
  font-weight: 700;
  color: $color-alice-blue;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: $vp-768) {
    font-size: 50px;
    line-height: 61px;
  }

  @media (min-width: $vp-1024) {
    font-size: 54px;
    line-height: 66px;
  }
}

.header__hero-description {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $color-alice-blue;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0;

  @media (min-width: $vp-768) {
    font-size: 18px;
  }

  @media (min-width: $vp-1024) {
    font-size: 20px;
    line-height: 24px;
  }
}

.header__hyphenation {
  @media (min-width: $vp-768) {
    display: none;
  }
}
